<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      font-family: 'Arial', sans-serif;
    }
    h1 {
      margin-bottom: 30px;
    }
    table {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center"><b>This is Shaozhi's SI507 Final Project!<br> Try to click the link below!</b></h1>
    <h3>US cities ranked by <a href="/population">population</a>:</h3>
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th><b>Rank</b></th>
                <th><b>City</b></th>
                <th><b>State</b></th>
                <th><b>Population</b></th>
            </tr>
        </thead>
        <tbody>
            {% for id, temp in city_dict.items() %}
            <tr>
                <td width="50px" align="center">{{id}}</td>
                <td width="250px" align="center"><a href="/list/city/{{id}}_{{temp[0]}}">{{temp[0]}}</a></td>
                <td width="250px" align="center"><a href="/list/state/{{temp[1]}}">{{temp[1]}}</a></td>
                <td width="250px" align="center">{{temp[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</body>
</html>
